<footer class="footer">
    <section class="footer_wrapper">
        <div class="conditions">
            <ul class="cond">
                <li>Legal</li>
                <li>Centro de Privacidad</li>
                <li>Política de Privacidad</li>
                <li>Cookies</li>
                <li>Información sobre los anuncios</li>
            </ul>
        </div>
        <div class="esp">
            <img src="./assets/images/flag.svg" class="flag" alt="Spain flag">
            <p class="country">España</p>
        </div>
    </section>
</footer>