<main class="main">
    <section class="question">
        <div class="quest">¿Por qué pasarte a Premium?</div>
    </section>
    <section class="container">
        <div class="music">
            <img src="./assets/images/benefit-1.png" class="corchea" alt="corchea">
            <span class="text_1">
            <h2>Descarga música.</h2>
            <p>Llévala siempre contigo.</p>
            </span>
        </div>
        <div class="advert">
            <img src="./assets/images/benefit-2.png" class="no_adverts" alt="advert">
            <h2>Sin anuncios.</h2>
            <p>Disfruta de música sin interrupciones.</p>
        </div>
        <div class="listen">
            <img src="./assets/images/benefit-3.png" class="img_listen" alt="listen">
            <h2>Escucha lo que quieras.</h2>
            <p>Incluso en el móvil.</p>
        </div>
        <div class="jump">
            <img src="./assets/images/benefit-4.png" class="img_jump" alt="junp">
            <h2>Salta todas las canciones que quieras.</h2>
            <p>Simplemente dale a siguiente.</p>
        </div>
    </section>

</main>
