<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Spotify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.ico" />
    <link href="https://lineto.com/typefaces/circular/?tab=try&set=latin&font=lohztTvAIVk&text=Abc&tracking=0" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css"/>
  </head>
  <body>
    <div class="wrapper">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_hero.html" label="Hero"></partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_footer.html" label="Footer"></partial>
    </div>
  </body>
</html>
